
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplify-gradle-config.json
amplifyxc.config
.DS_Store
src/aws-exports.ts
.serverless
.env
.pnp
.yarn/unplugged
.yarn/cache
.yarn/install-state.gz
.build
.sst
lambda/lambda-config.json
src/aws-exports.ts
aws/node_modules
.envrc
legacy-frontend/.yarn/cache
cdk.context.json
.legacy-env-vars